trial_files/
*.out
*.o
received_file.bin
server
client
xv6_debug_vscode.pdf
Xv6_notes_on_scheduling_and_trap_handling.pdf
._requirements.txt
._test.py
__pycache__/
.venv/
tester.tar.gz
test.py
requirements.txt
shell.tcl
test_files
mini-project1.md
*.txt
tests/
grade/
